* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
body {
  font-family: sans-serif;
  padding: 0 1.25rem 1.25rem;
}
picture {
  display: block;
}
img {
  display: block;
  height: auto;
  max-width: 100%;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  justify-content: space-between;
}
.countries > * {
  flex-basis: 100%;
  border: 2px solid;
  padding: 0 1.25rem 1.25rem;
  max-width: calc(25% - 3.75rem);
}
